*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    padding: 6rem 4rem 10rem;
    line-height: 1.7;
    font-family: "Nunito Sans", sans-serif;
    color: #555;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #1f1e1e, #000000);
}

h1 {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 6rem;
    color: white;
    transform: skewY(-5deg);
    margin-bottom: 6rem;
    text-align: center;
    position: relative;
    word-spacing: 3px;
}

h1::before {
    content: '';
    display: block;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    opacity: .7;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
}

.card {
    background: linear-gradient(to right, #000000, #0f0f0f);
}
.card:hover {
    box-shadow:0px 0px 10px #000000;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    /*border: 2px solid #fff*/
}

.card__hero {
    position: relative;
}

.card__hero::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right bottom, #ffffff, #000305);
    opacity: .1;
}

.card__img {
    width: 100%;
    display: block;
}

.card__name {
    background: linear-gradient(to right, #000000, #0f0f0f);
    padding: 1.3rem .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    word-spacing: 1px;
}

.card__detail {
    font-size: 1.6rem;
    padding: 0rem 1.5rem;
    display: flex;
    align-items: center;
}

.card__detail:first-of-type {
    border-bottom: 1px solid #eee;
}

.card__footer {
    display: flex;
    margin-top: 0.5rem;
}

.card__price {
    flex: 0 0 100%;
    background-color: #eee;
    border-top: 1px solid #e1e1e1;
    padding: 0.25rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
}

.card__link:link,
.card__link:visited {
    flex: 0 0 50%;
    background-color: #5aaa9d;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.25rem 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

.card__link:hover,
.card__link:active {
    background-color: #67b26f;
}

.emoji-left {
    font-size: 2rem;
    margin-right: 1rem;
}

.emoji-right {
    font-size: 2rem;
    margin-left: 1rem;
}

.discount-icon-active {
    position: absolute;
    top: 2px;
    right: 2px;
}
.discount-icon-hidden {
    display: none;
}

.discount-icon-active span {
    width: 41px;
    height: 28px;
    display: flex;
    background-size: contain;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
}

.price-icon {
    position: absolute;
    top: 2px;
    left: 2px;
}
.price-icon span {
    width: 75px;
    height: 28px;
    display: flex;
    background-size: contain;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
}
.block {
    position: absolute;
    top:2px;
    left:2px;
    display: block;
    width: 60px;
    height: 28px;
    border: none;
    opacity: 0.8;
    background-color: #4CAF50;
    font-size: 16px;
    text-align: center;
  }
.volume-price-active {
    position:absolute;
    bottom: 1px;
    left: 2px;
    font-size: 10px;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(17, 17, 17);
}
.volume-price-hidden {
    display: none;
}
.shop-maxima-icon {
    position: absolute;
    bottom: 2px;
    right: 2px;
    height: 30px;
    width: 30px;
    display: flex;
    background-image: url('/data/img/maxima-icon.png');
    background-repeat: no-repeat;
    background-size: 30px 30px; 
}
.infotext {
    display: none;
}
.infotext2 {
    position: absolute;
    top: 30px;
    left: 2px;
    font-size: 10px;
    width: 99%;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    fill-opacity: 0.2;
}

